/querydsl-api/target/
/spring-security-api/target/
/spring-security/target/
/spring-config/target/
/spring-junit/target/
/target/
*.log
*.jar
/entity-contract-references-api/target/
/entity-contract-references/target/
/entity-contracts/target/
/retail-loan-contracts/target/